h1{
    font-style: oblique;
    text-align: center;
   

}

 */
#container{
height:700px;
width:700px;
background-color: whitesmoke;
margin: 0px auto;


}

#Box1{
height: 200px;
width: 660px;
background-color: rgb(138, 195, 228);
border: 2px solid rgb(138, 195, 228);
margin: 20px auto;
display: flex;


}
#Box2{
height: 200px;
width: 660px;
background-color: pink;
border: 2px solid pink;
margin: 20px auto;
display: flex;
justify-content: space-around;
}

#Box3{
height: 200px;
width: 660px;
background-color: white;
border: 2px solid white;
margin: 20px auto;
display: flex;
}

img{ 
height:100%;
width:100%;
}

#top{
height: 180px;
width: 190px;
background-color: white;
margin: 10px 20px 20px 10px;

}

#middle{
    height: 180px;
    width: 190px;
    background-color: white;
    margin: 10px 20px 20px 10px;

}


#bottom{
    height: 180px;
    width: 190px;
    background-color: white;
    margin: 10px 20px 20px 10px;

}